{
    "nats_url": "nats://localhost:4222",
    "left": {
        "stream_name": "orders",
        "ttl": "60s"
    },
    "right": {
        "stream_name": "customers",
        "ttl": "2m"
    },
    "results": {
        "stream_name": "results",
        "subject_name": "results"
    },
    "join_type": "temporal",
    "schema": {
        "streams": {
            "orders": {
                "fields": [
                    {
                        "field_name": "id",
                        "field_type": "string"
                    },
                    {
                        "field_name": "customer_id",
                        "field_type": "string"
                    },
                    {
                        "field_name": "amount",
                        "field_type": "float64"
                    }
                ],
                "join_key_field": "customer_id"
            },
            "customers": {
                "fields": [
                    {
                        "field_name": "id",
                        "field_type": "string"
                    },
                    {
                        "field_name": "name",
                        "field_type": "string"
                    },
                    {
                        "field_name": "email",
                        "field_type": "string"
                    }
                ],
                "join_key_field": "id"
            }
        },
        "sink_mapping": [
            {
                "column_name": "id",
                "stream_name": "orders",
                "field_name": "id",
                "column_type": "UUID"
            },
            {
                "column_name": "amount",
                "stream_name": "orders",
                "field_name": "amount",
                "column_type": "float"
            },
            {
                "column_name": "customer_name",
                "stream_name": "customers",
                "field_name": "name",
                "column_type": "string"
            },
            {
                "column_name": "customer_email",
                "stream_name": "customers",
                "field_name": "email",
                "column_type": "string"
            }
        ]
    }
}