/* ================== Margin ================== */
.margin-1 {
  margin: var(--unit-x1);
}
.margin-2 {
  margin: var(--unit-x2);
}

.margin-3 {
  margin: var(--unit-x3);
}

.margin-4 {
  margin: var(--unit-x4);
}

.margin-5 {
  margin: var(--unit-x5);
}

.margin-6 {
  margin: var(--unit-x6);
}

.margin-7 {
  margin: var(--unit-x7);
}

.margin-8 {
  margin: var(--unit-x8);
}

.margin-9 {
  margin: var(--unit-x9);
}

.margin-10 {
  margin: var(--unit-x10);
}

/* ==== Padding ==== */
.padding-1 {
  padding: var(--unit-x1);
}

.padding-2 {
  padding: var(--unit-x2);
}

.padding-3 {
  padding: var(--unit-x3);
}

.padding-4 {
  padding: var(--unit-x4);
}

.padding-5 {
  padding: var(--unit-x5);
}

.padding-6 {
  padding: var(--unit-x6);
}

.padding-7 {
  padding: var(--unit-x7);
}

.padding-8 {
  padding: var(--unit-x8);
}

.padding-9 {
  padding: var(--unit-x9);
}

.padding-10 {
  padding: var(--unit-x10);
}

/* ==== Gap ==== */
.gap-1 {
  gap: var(--unit-x1);
}
.gap-2 {
  gap: var(--unit-x2);
}

.gap-3 {
  gap: var(--unit-x3);
}

.gap-4 {
  gap: var(--unit-x4);
}

.gap-5 {
  gap: var(--unit-x5);
}

.gap-6 {
  gap: var(--unit-x6);
}

.gap-7 {
  gap: var(--unit-x7);
}

.gap-8 {
  gap: var(--unit-x8);
}

.gap-9 {
  gap: var(--unit-x9);
}

.gap-10 {
  gap: var(--unit-x10);
}
