/* ================== Title ================== */
.title-1 {
  font-size: var(--font-size-title-1);
  line-height: var(--line-height-title-1);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title-1);
  letter-spacing: var(--letter-spacing-title-1);
  color: var(--text-accent);
}

.title-2 {
  font-size: var(--font-size-title-2);
  line-height: var(--line-height-title-2);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title-2);
  letter-spacing: var(--letter-spacing-title-2);
}

.title-3 {
  font-size: var(--font-size-title-3);
  line-height: var(--line-height-title-3);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title-3);
  letter-spacing: var(--letter-spacing-title-3);
}

.title-4 {
  font-size: var(--font-size-title-4);
  line-height: var(--line-height-title-4);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title-4);
  letter-spacing: var(--letter-spacing-title-4);
}

.title-5 {
  font-size: var(--font-size-title-5);
  line-height: var(--line-height-title-5);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title-5);
  letter-spacing: var(--letter-spacing-title-5);
}

.title-6 {
  font-size: var(--font-size-title-6);
  line-height: var(--line-height-title-6);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title-6);
  letter-spacing: var(--letter-spacing-title-6);
}

/* ================== Body ================== */
.body-1 {
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-body-1);
  font-family: var(--font-family-body);
  letter-spacing: var(--letter-spacing-body-1);
}

.body-2 {
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-body-2);
  font-family: var(--font-family-body);
  letter-spacing: var(--letter-spacing-body-2);
}

.body-3 {
  font-size: var(--font-size-body-3);
  line-height: var(--line-height-body-3);
  font-family: var(--font-family-body);
  letter-spacing: var(--letter-spacing-body-3);
}

/* ================== Button ================== */
.btn-text {
  color: var(--text-inverse);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-3);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-body-3);
  letter-spacing: var(--letter-spacing-body-3);
}

.btn-text-disabled {
  color: var(--text-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-3);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-body-3);
  letter-spacing: var(--letter-spacing-body-3);
}

/* ================== Utilities ================== */
.text-brand-gradient {
  background: var(--text-gradient-brand);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-normal {
  color: var(--text-primary);
}

.text-content {
  color: var(--text-primary);
  font-size: var(--font-size-body-3);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body-3);
}

.text-content-faded {
  color: var(--text-secondary);
  font-size: var(--font-size-body-3);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body-3);
}

.text-normal-accent {
  color: var(--text-accent);
}

.subtitle {
  color: var(--text-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-featured-3);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-featured-3);
  letter-spacing: var(--letter-spacing-featured-3);
}

.subtitle-2 {
  color: var(--text-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-title-5);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-featured-4);
  letter-spacing: var(--letter-spacing-title-5);
}

.subtitle-3 {
  color: var(--text-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-title-6);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-title-6);
  letter-spacing: var(--letter-spacing-title-6);
}
