GLASSFLOW_LOG_FORMAT=json

GLASSFLOW_NATS_SERVER=localhost:4222

GLASSFLOW_DATABASE_URL=postgres://glassflow:glassflow@localhost:5432/glassflow

GLASSFLOW_OTEL_METRICS_ENABLED=false
GLASSFLOW_OTEL_LOGS_ENABLED=false
