on:
  workflow_call:
    inputs:
      push:
        type: boolean
        description: push to dockerhub
      rc_tag:
        type: string
        description: release candidate tag for PR builds
        required: false

jobs:
  build-docker-image:
    name: Build Component Image
    runs-on: ubuntu-latest
    outputs:
      glassflow-etl-amd64: ${{ steps.gen-output.outputs.glassflow-etl-amd64 }}
      glassflow-etl-arm64: ${{ steps.gen-output.outputs.glassflow-etl-arm64 }}
      glassflow-ingestor-amd64: ${{ steps.gen-output.outputs.glassflow-ingestor-amd64 }}
      glassflow-ingestor-arm64: ${{ steps.gen-output.outputs.glassflow-ingestor-arm64 }}
      glassflow-join-amd64: ${{ steps.gen-output.outputs.glassflow-join-amd64 }}
      glassflow-join-arm64: ${{ steps.gen-output.outputs.glassflow-join-arm64 }}
      glassflow-sink-amd64: ${{ steps.gen-output.outputs.glassflow-sink-amd64 }}
      glassflow-sink-arm64: ${{ steps.gen-output.outputs.glassflow-sink-arm64 }}
      glassflow-dedup-amd64: ${{ steps.gen-output.outputs.glassflow-dedup-amd64 }}
      glassflow-dedup-arm64: ${{ steps.gen-output.outputs.glassflow-dedup-arm64 }}
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        component:
          - name: glassflow-etl
            image_name: glassflow-etl-be
          - name: glassflow-ingestor
            image_name: glassflow-etl-ingestor
          - name: glassflow-join
            image_name: glassflow-etl-join
          - name: glassflow-sink
            image_name: glassflow-etl-sink
          - name: glassflow-dedup
            image_name: glassflow-etl-dedup
        platform:
          - os: linux
            arch: amd64
          - os: linux
            arch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Download etl artifact
        uses: actions/download-artifact@v4
        with:
          name: glassflow-api-${{ matrix.platform.os }}-${{ matrix.platform.arch }}
          path: glassflow-api/bin
      - name: Make artifacts executable
        run: chmod +x glassflow-api/bin/*
      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        id: build-arch-image
        with:
          platforms: ${{ matrix.platform.os }}/${{ matrix.platform.arch }}
          context: .
          file: glassflow-api/docker/${{ matrix.component.name }}/Dockerfile
          push: ${{ inputs.push }}
          provenance: false
          outputs: push-by-digest=true,type=image
          tags: |
            ghcr.io/glassflow/${{ matrix.component.image_name }}
      - name: Generate output
        id: gen-output
        run: echo "${COMPONENT}-${ARCH}=$DIGEST" >> "$GITHUB_OUTPUT"
        env:
          ARCH: ${{ matrix.platform.arch }}
          DIGEST: ${{ steps.build-arch-image.outputs.digest }}
          COMPONENT: ${{ matrix.component.name }}

  push-docker-manifest:
    name: Push API Image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        component:
          - amd64_digest: ${{ needs.build-docker-image.outputs.glassflow-etl-amd64 }}
            arm64_digest: ${{ needs.build-docker-image.outputs.glassflow-etl-arm64 }}
            repository: glassflow-etl-be
          - amd64_digest: ${{ needs.build-docker-image.outputs.glassflow-ingestor-amd64 }}
            arm64_digest: ${{ needs.build-docker-image.outputs.glassflow-ingestor-arm64 }}
            repository: glassflow-etl-ingestor
          - amd64_digest: ${{ needs.build-docker-image.outputs.glassflow-join-amd64 }}
            arm64_digest: ${{ needs.build-docker-image.outputs.glassflow-join-arm64 }}
            repository: glassflow-etl-join
          - amd64_digest: ${{ needs.build-docker-image.outputs.glassflow-sink-amd64 }}
            arm64_digest: ${{ needs.build-docker-image.outputs.glassflow-sink-arm64 }}
            repository: glassflow-etl-sink
          - amd64_digest: ${{ needs.build-docker-image.outputs.glassflow-dedup-amd64 }}
            arm64_digest: ${{ needs.build-docker-image.outputs.glassflow-dedup-arm64 }}
            repository: glassflow-etl-dedup
    if: ${{ inputs.push }}
    needs: build-docker-image
    steps:
      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: |
            type=sha,prefix=,format=long
            type=raw,value=main,enable=${{ github.ref_name == 'main' }}
            type=raw,value=stable,enable=${{ startsWith(github.ref, 'refs/tags/v') }}
            type=raw,value=${{ inputs.rc_tag }},enable=${{ inputs.rc_tag != '' }}
            type=ref,event=tag
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Push multiarch manifest
        run: |
          echo "$TAGS" | while IFS= read -r TAG; do
            docker manifest create "$REPOSITORY:$TAG" \
              --amend "$REPOSITORY@$AMD64_DIGEST" \
              --amend "$REPOSITORY@$ARM64_DIGEST"
            docker manifest push "$REPOSITORY:$TAG"
          done
        env:
          AMD64_DIGEST: ${{ matrix.component.amd64_digest }}
          ARM64_DIGEST: ${{ matrix.component.arm64_digest }}
          TAGS: ${{ steps.meta.outputs.tags }}
          REPOSITORY: ghcr.io/glassflow/${{ matrix.component.repository }}

  build-and-push-frontend:
    name: Build And Push UI Image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # cache: 'pnpm'
          # cache-dependency-path: ui/pnpm-lock.yaml
      - name: Install dependencies
        working-directory: ui
        run: pnpm install --frozen-lockfile
      - name: Build
        working-directory: ui
        run: pnpm build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/glassflow/glassflow-etl-fe
          tags: |
            type=sha,prefix=,format=long
            type=raw,value=main,enable=${{ github.ref_name == 'main' }}
            type=raw,value=stable,enable=${{ startsWith(github.ref, 'refs/tags/v') }}
            type=raw,value=${{ inputs.rc_tag }},enable=${{ inputs.rc_tag != '' }}
            type=ref,event=tag
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: ui
          push: ${{ inputs.push }}
          cache-from: type=gha
          cache-to: type=gha,mode=min
          tags: ${{ steps.meta.outputs.tags }}
