name: Test Backend
on:
  workflow_call:

jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: './glassflow-api/go.mod'
          cache-dependency-path: './glassflow-api/go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          working-directory: './glassflow-api'

  test-api:
    name: test api
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: './glassflow-api/go.mod'
          cache-dependency-path: './glassflow-api/go.mod'
      - name: Run test
        working-directory: './glassflow-api'
        run: make run-test

  test-e2e:
    name: test e2e
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: './glassflow-api/go.mod'
          cache-dependency-path: './glassflow-api/go.mod'
      - name: run e2e test
        working-directory: './glassflow-api'
        run: make run-e2e-test
